.side-bar {
  position: fixed;
  background-color: #0056b3;
  height: 100%;
  /* flex-basis: 14%; */
  padding-top: 2rem;
}

/* .sidebar-settings {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.59rem 0.79rem;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
} */

.sidebar-settings > *:first-child {
  padding-left: 1.72rem;
  align-self: flex-start;
}
.sidebar-settings > *:last-child {
  padding-left: 0.62rem;
  line-height: 1.58rem;
}
.highlight {
  font-weight: 700;
  font-size: 16px;
}
