.display-billboards{
    margin-top: 1rem;
}

.select-all {
    display: inline-block;
    color: blue;
    border-bottom: 2.76px solid blue;
    padding-bottom: .35rem;
    /* margin-bottom: .78rem; */
}