.display-billboards {
  margin-top: 1rem;
}
.display-billboards > span {
  display: inline-block;
  margin: 0.7rem 1.67rem 1rem 0;
  cursor: pointer;
  font-size: .89rem;
}
.display-billboards-active{
  color: #0056b3;
  border-bottom: 2px solid #0056b3;
  font-weight: 600;
}
/* .select-all {
  display: inline-block;
  color: #0056b3;
  border-bottom: 2px solid #0056b3;
  margin: 0.7rem 2rem 1rem 0;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 10px 10px;
} */

/* .select-all1 {
  display: inline-block;
  color: #342929 60%;
  cursor: pointer;
  border-bottom: 2.76px solid #0056B3;
  padding-bottom: .35rem;
  margin-bottom: .78rem;
} */
