.dashboard {
  display: flex;
  justify-content: space-between;
  margin-top: 4.56rem;
}
.dashboard-content {
  background-color: #e5e5e5;
  width: 100%;
  flex-basis: 100%;
  padding: 1rem 0 0 192px;
  /* border: 1px solid green; */
}

.top-section {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid tomato; */
}
