.dashboard {
    display: flex;
    justify-content: space-between;
    margin-top: 4.56rem;
}
.dashboard-content {
    background-color: whitesmoke;
    flex-basis: 88%;
    padding: .5rem 0 0 175px;
    /* border: 1px solid green; */
}

.top-section {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid tomato; */
}

.dashy {
    display: flex;
    flex-flow: row nowrap;
}
.dashy > * {
    width: 35%;
    border: 1px solid red;
}