.alerter {
  width: 295px;
  height: 34px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #393333;
  margin-bottom: 1rem;
}
.adesw {
  margin: 40px;
  padding-bottom: 2rem;
}
