:root {
  --generic-blue: #0056b3;
  --generic-pink: #f5148e;
}

.dayo {
  background-color: var(--generic-blue);
  color: white;
  margin: 10px 0;
  /* width: 426px; */
  /* height: 44px; */
  box-shadow: 0px 2px 2px rgba(0, 86, 179, 0.1);
  border-radius: 10px;
  padding: 10px 18px;
  font-size: 15px;
  display: flex;
  flex-flow: row;
}
.dayo > p {
  margin-bottom: 0;
}
.dayo-add {
  margin: 0 0 0 0.46rem;
  /* font-size: 11px; */
  text-align: left;
  font-weight: 700;
}
.lolo {
  width: 426px;
  /* height: 233px; */
  /* border: 0.5px solid #0056b3; */
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 1rem;
}

p.lolo {
  border: 0.5px solid var(--generic-blue);
  padding-top: 25%;
}

.more-details-header {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: var(--generic-blue);
}

.billboard-preview-container {
  margin: 0 auto;
  /* border: 1px solid blueviolet; */
  width: 42.45%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.billboard-preview-container > p {
  cursor: pointer;
}

.live-stream-preview,
.image-preview {
  color: var(--generic-blue);
  padding: 0 7px;
  text-align: center;
  border-bottom: 2px solid var(--generic-blue);
  cursor: default !important;
  white-space: nowrap;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.download-billboard-summary {
  display: inline-block;
  width: fit-content;
  margin-bottom: 0.79rem;
  padding: 1rem;
  background-color: var(--generic-pink);
  font-size: 0.87rem;
  border-radius: 10px;
  border: 0;
  font-weight: 300;
  line-height: 14px;
  /* white-space: nowrap; */
  color: #fff;
}

.download-billboard-summary:hover {
  background-color: var(--generic-pink);
  color: #fff;
}
.form-data-style {
  font-weight: 700;
  text-transform: capitalize;
}
